@import "tailwindcss";

@theme {
  --font-secondary: "Courgette", "serif";
  --font-dyna: "DynaPuff", "serif";
  --font-dancing: "Dancing Script", "serif";
  --font-silkscreen: "Silkscreen", "serif";
}

