@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@import "tailwindcss";


@theme {
  --font-doto: "Doto", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;
  --font-saira: "Saira", sans-serif;
  --font-spacegrotesk: "Space Grotesk", sans-serif;
  --font-pixelify: "Pixelify Sans", sans-serif;
  }



.glow-code {
  text-shadow: 0 0 6px #c9109e, 0 0 12px #c9109e, 0 0 24px #c9109e;
  animation: float 3s ease-in-out infinite;
}


@keyframes text-glow {
  0% {
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.2),
                 0 0 12px rgba(79, 195, 247, 0.5), /* lightblue glow */
                 0 0 18px rgba(255, 215, 0, 0.4);  /* gold glow */
  }
  50% {
    text-shadow: 0 0 12px rgba(255, 255, 255, 0.4),
                 0 0 20px rgba(220, 20, 60, 0.6),   /* crimson glow */
                 0 0 28px rgba(255, 215, 0, 0.8);  /* gold glow stronger */
  }
  100% {
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.2),
                 0 0 12px rgba(79, 195, 247, 0.5),
                 0 0 18px rgba(255, 215, 0, 0.4);
  }
}



@keyframes float {
  0% {
    transform: translateY(0px) rotate(var(--rotation, 0deg));
  }
  50% {
    transform: translateY(-10px) rotate(var(--rotation, 0deg));
  }
  100% {
    transform: translateY(0px) rotate(var(--rotation, 0deg));
  }
}

/* Apply the animation to your elements */
.glow-code {
  animation: float 3s ease-in-out infinite;
}

